*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    max-width: 1200px;
    /* min-width: 700px; */
    min-height: 140px;
    margin: 0 auto;
    background-color: yellow;
    /* padding: 50px; */
    border: 2px solid black;
    font-size: 40px;
}

.inflex{
    display: inline-flex;
}
.flex{
    display: flex;
    max-width: 1800px;
    margin: 0 auto;
    background-color: wheat;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: space-around;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-flow: flex-direction + flex-wrap; */
    /* flex-flow: column wrap-reverse; */


}
.item{
    width: 300px;
    padding: 10px;
    background-color: orange;
}
.item:nth-child(2){
    background-color: blue;
}
.item:nth-child(3){
    background-color: rgb(255, 0, 183);
}
.item:nth-child(4){
    background-color: rgb(166, 255, 0);
}