/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,800&display=swap'); */
*{
    box-sizing: border-box;
    /* box-sizing: content-box; */

}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #e2cb0d;
}
.container{
    /* background-color: red; */
    /* background-color: #000000; */
    /* background-color: rgb(0, 0, 0); */
    /* background-color: rgba(0, 0, 0, 0.6); */
    
    /* padding: ; це відступ в середині блоку */
    /* padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 200px; */
    /* padding: 100px 200px; */
    padding: 40px;
    /* margin: ; це відступ між блоками */
    /* margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px; */
    /* margin: 100px 200px; */
    margin: 0 auto;
    /* auto не працює без вказаної ширини */
    /* width: 600px; */
    width: 1720px;
    padding: 120px 96px;
    /* height: auto; значення по дефолту розраховується автоматично */
    /* height: 200px; */
    /* text-align: left; */
    /* text-align: center; */
    /* text-align: right; */
    /* line-height: 20px; */
    line-height: 2;
    font-size: 30px;
    letter-spacing: -0.32px; 
}
.container img{
    width: 100px;
}
.container a{
    /* display: block; */
    /* display: inline-block; Надає елементу властивості блока і інлайнового елемента займає ширину по ширині контента */
    vertical-align: top;
    display: inline-block; 

}
/* p{
    margin: 0 24px;
}
h1{
    margin: 0 40px;
}
h3{
    margin: 0 20px;
} */
.text-title{
    margin: 0 20px;
    font-size: 40px;
    font-family: 'Raleway Dots', sans-serif;
}
.text-block{
    margin: 0 10px;
}
input{
    display: inline-block;
    border-radius: 2px 0px 0px 2px;
    background: #FFF; 
    padding: 8px 36px;
    width: 560px;
    border: 2px solid black;
}
button{
    display: inline-block;
    color: #FFF;
    text-align: center;
    /* font-family: Roboto; */
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    border-radius: 0px 2px 2px 0px;
    background: #A8863D;
    border: none;
}