*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: lightblue;
}
/* position:static; */
/* ===== bottom top left right */
/* position:sticky; */
/* postion:fixed */

header{
    position: sticky;
    top: 20px;
    background-color: yellow;
    padding: 20px;
    z-index: 10;
}
p{
    width: 200px;
    margin: 0 auto;
    font-size: 24px;
}
.fixed{
    padding: 20px;
    height: 100px;
    width: 300px;
    color:white;
    background-color: brown;
    position: fixed;
    /* top: 800px; */
    /* left: 800px; */
    bottom: 100px;
    right: 100px;
}
.abs{
    padding: 20px;
    color: white;
    background-color: black;
    position: absolute;
    top: -200px;
    right: 800px;
}
.rel{
    padding: 20px;
    margin-bottom: 10px;
    background-color: green;
    position: relative;
    /* left: 200px; */
    bottom: 200px;
    height: 400px;
}
.mod{
    z-index: 2;
    background-color: burlywood;
}
.rel:hover{
    background-color: yellow;
}

.rel:hover .abs{
    top: 200px;
}
h1:hover{
    background-color: orange;
    color: blueviolet;
}
h1:hover span{
    color:white;
}